---
layout: default
title: IDEBIAN
tags: [linux, vim, php]
---
<style>
    .gray{
        background-color:gray;
    }
</style>
<h3>Welcome to King Jin's Blog.</h3>
  <ul class="posts">
    {% for post in paginator.posts limit:25 %}
    <li><a class="post_date" href="{{post.url}}" title="点击在当前页内查看博客内容">{{post.date | date:"%Y-%m-%d"}}</a>  &raquo;  <a class="post_url" href="{{ post.url }}">{{ post.title }}</a></li>  
    <div title="点击关闭当前博客内容" class="post_content" style="display:none;background-color:gray;"></div>
    {% endfor %}
  </ul>
    <!-- Pagination links -->
    <div class="pagination">
        {% if paginator.previous_page == 1 %}
        <a href="/" class="previous">上一页</a>
      {% elsif paginator.previous_page %}
        <a href="/page{{paginator.previous_page}}" class="previous">上一页</a>
      {% endif %}
      <span class="page_number ">第 {{paginator.page}} 页 / 共 {{paginator.total_pages}} 页</span>
      {% if paginator.next_page and paginator.next != paginator.total_pages %}
        <a href="/page{{paginator.next_page}}" class="next ">下一页</a>
      {% endif %}
    </div>
    <script type="text/javascript">    
        $(function(){
                $('.post_date').click(function(){
                    var $cont=$(this).parents('li').next('div.post_content');
                    if(!$cont.html()) {
                        url=window.location.protocol+"//"+window.location.host+$(this).attr('href')+" div#detail";
                        $cont.load(url);
                    }
                    $cont.slideToggle();
                    $(this).parents('li').addClass('gray').siblings().removeClass('gray');
                    return false;
                });
                $('.post_content').click(function(){
                    $(this).slideUp('slow');
                    return false;
                });
        });
    </script>
