<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=640" />
    <meta name="author" content="King Jin" />
    <meta name="keywords" content="{{ page.tags | join: ',' }}" />
    <meta name="robots" content="index follow" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <link rel="stylesheet" href="/stylesheets/core.css" media="screen"/>
    <link rel="stylesheet" href="/stylesheets/mobile.css" media="handheld, only screen and (max-device-width:640px)"/>
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css"/>

    <script type="text/javascript" src="/javascripts/modernizr.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/headsmart.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34728957-1']);
      _gaq.push(['_setDomainName', 'iekilled.us']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <title> {{ page.title }}</title>
</head>
<body>
    <div class="shell">

      <header>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <h1>IDebian</h1>
            <h2>Newbie's Growth -- Welcome to King Jin's Blog</h2>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
      </header>

      <div id="no-downloads">
        <span class="inner">
            {{ page.hint }}
        </span>
      </div>

      <span class="banner-fix"></span>

      <span style="margin:20px"></span>
      <section id="main_content">
      {% if page.hint %}
          {{ content }}
      {% else %}
          {{ content | newline_to_br }}
      {% endif %}
        <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style" style="margin:20px auto 20px 40px;">
                <span class="jiathis_txt">分享到：</span>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_tqq"></a>
                <a class="jiathis_button_renren"></a>
                <a class="jiathis_button_kaixin001"></a>
                <a href="http://www.jiathis.com/share?uid=1694121" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                <a class="jiathis_counter_style"></a>
            </div>
            <script type="text/javascript">
                var post_identifier ='{{ page.id }}';
                var post_title = '{{ page.title }}';
                var port_str = location.port.length == 0 ? '' : ':'+location.port;
                var post_url = location.protocol + '//' + location.host + port_str + '{{ page.url }}';
                var jiathis_config = {
                    data_track_clickback:true,
                    url:post_url,
                    title:post_title + '##',
                    hideMore:true
                };
            </script>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1347505285221609" charset="utf-8" async="true"></script>
        <!-- JiaThis Button END -->

      </section>

      <footer>
        <p></p>
        <span class="octocat"></span>
      </footer>
    </div>

    {% comment %}
    <!-- disqus begin disabled -->
    <div id="disqus_thread" style="margin:0 auto;width:670px;display:none;"></div>
    <script type="text/javascript">
        var disqus_shortname = 'idebian'; 
        var disqus_identifier='{{ page.id }}';
        var disqus_title = '{{ page.title }}';
        var port_str = location.port.length == 0 ? '' : ':'+location.port;
        var disqus_url = location.protocol + '//' + location.host + port_str + '{{ page.url }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    <!-- disqus disabled end -->
    {% endcomment %}

    <!-- UY BEGIN -->
    <div id="uyan_frame" style="margin: 0 auto;width: 670px;display:block;"></div>
    <script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1694121" async="true"></script>
    <!-- UY END -->

  </body>
</html>
